# FastAPI
FastApi/.idea/
FastApi/.venv/
FastApi/__pycache__/

# Flask Service Manager
FlaskServiceManager/.idea/
FlaskServiceManager/.venv/

# Email Bot
FlaskServiceManager/email_bot/.idea/
FlaskServiceManager/email_bot/.venv/

# News Aggregation
FlaskServiceManager/news_aggregation/.idea/
FlaskServiceManager/news_aggregation/.venv/

# Telegram Bot
FlaskServiceManager/tel_bot/.idea/
FlaskServiceManager/tel_bot/.venv/

# User Management
FlaskServiceManager/user_management/.idea/
FlaskServiceManager/user_management/.venv/
FlaskServiceManager/user_management/__pycache__/
